.hero_bottom_spacing {
    padding-bottom: 270px;
}

.position_relative {
    position: relative;
}

/*=== footer animation ========*/
.footer_animation {
    z-index: -10;
    position: absolute;
    bottom: -490px;
    left: 220px;
    height: auto;

    -webkit-animation: footer_animation 20s linear infinite;
    animation: footer_animation 20s linear infinite;
}

/*  */
.registration_img_parent {
    transform: translateX(20px);
}

.registration_top {
    top: -150px;
}

.registration_top_right {
    top: -20px;
    right: -130px;
}

.registration_top_left {
    top: -20px;
    left: -140px;
}

.registration_bottom_left {
    bottom: -50px;
    left: -120px;
}

.registration_bottom_right {
    bottom: -40px;
    left: 300px;
}

.registration_bottom {
    bottom: -150px;
    left: 90px;
}

.registration_top,
.registration_top_left,
.registration_top_right,
.center_img,
.registration_bottom,
.registration_bottom_right,
.registration_bottom_left {
    transition: all 0.2s linear;
}

.registration_top:hover,
.registration_top_left:hover,
.registration_top_right:hover,
.center_img:hover,
.registration_bottom:hover,
.registration_bottom_right:hover,
.registration_bottom_left:hover {
    transform: scale(1.1);
}

@media (max-width:1199.98px) {
    .footer_animation {
        z-index: -10;
        bottom: -450px;
        left: 300px;
    }

    .registration_img_parent {
        transform: translateX(0);
    }

    .center_img {
        width: 40%;
    }


    .registration_black_img {
        width: 80%;
    }

    .registration_top {
        top: -110px;
        width: 40%;
    }

    .registration_top_right {
        top: -20px;
        right: -50px;
        width: 40%;
    }

    .registration_top_left {
        top: -20px;
        left: -50px;
        width: 40%;
    }

    .registration_bottom_left {
        bottom: -20px;
        left: -50px;
        width: 40%;
    }

    .registration_bottom_right {
        bottom: -20px;
        left: 290px;
        width: 40%;
    }

    .registration_bottom {
        bottom: -110px;
        left: 120px;
        width: 40%;
    }
}

@media (max-width:991.98px) {
    .footer_animation {
        bottom: -330px;
        left: 350px;
    }

    .advisor_Implement_paragraph {
        max-width: 600px !important;
    }

    .submit_btn {
        padding: 14px !important;
    }

    .understanding_slider .slick-slide {
        padding-left: 10px !important;
        padding-right: 10px;
    }

}

@media (max-width:767.98px) {
    .footer_animation {
        bottom: -320px;
        left: 320px;
    }

    .ai_etf_scrollbar {
        max-height: 720px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width:575.98px) {
    .hero_bottom_spacing {
        padding-bottom: 130px !important;
    }

    .footer_animation {
        bottom: -300px;
        left: 30px;
    }

    .submit_btn {
        padding: 12px !important;
    }

    .ai_etf_scrollbar {
        max-height: 570px;
    }

    #advisors {
        padding-top: 70px !important;
    }
}


/*  */

#advisors {
    padding-top: 100px;
}

.advisor_bg {
    background-image: url("./assets/images/png/advisor_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.advisor_animation_circle {
    top: -11% !important;
}

.advisors_top_ai_blur_box {
    z-index: 1;
    top: 20%;
}

.max-h-full {
    max-height: 100% !important;
}