@media (min-width: 1200px) {
  .hand_img_profit {
    transform: translateX(20px);
    object-fit: scale-down;
  }
  .footer_top_spacing {
    margin-top: 100px;
  }

}
@media (max-width: 1200px) {
    .partner_slider {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}
.register_paragraph{
    padding-bottom: 48px;
}
.footer_bg {
  background-image: url("../images/png/background-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 262px 0px 69px 0px;
}
@media (max-width:991.98) {
    .footer_bg{
        padding: 18 0px 0px 48px 0px;

    }
}

@media (max-width: 575px) {
    .footer_bg{
        background-size: cover;
        padding: 130px 0px 48px 0px;

    }
}