/* font family link  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&display=swap");

/* font family  */
.ff_inter {
    font-family: "Inter", sans-serif;
}
.ff_openSans {
    font-family: "Open Sans", sans-serif;
}
.ff_orbitron {
    font-family: "Orbitron", sans-serif;
}

/* root  */
:root {
    --fs-nav: 16px;
    --fs-base: 16px;
    --fs-sm: 20px;
    --fs-md: 28px;
    --fs-xl: 32px;
    --fs-2xl: 48px;
    --dark-blue: #0d0c19;
    --light-blue: #553af5;
    --light-indigo: #8b78f8;
}
/*backgroud color */
.bg_dark_blue {
    background-color: var(--dark-blue) !important;
}
/* color */
.text_light_blue {
    color: var(--light-blue) !important;
}
.text_light_indigo {
    color: var(--light-indigo) !important;
}

/* font size  */
.fs_nav {
    font-size: var(--fs-nav) !important;
}
.fs_base {
    font-size: var(--fs-base) !important;
}
.fs_sm {
    font-size: var(--fs-sm) !important;
}
.fs_md {
    font-size: var(--fs-md) !important;
}
.fs_xl {
    font-size: var(--fs-xl) !important;
}
.fs_2xl {
    font-size: var(--fs-2xl) !important;
}
.opacity_80 {
    opacity: 0.8 !important;
}
.opacity_70 {
    opacity: 0.7 !important;
}
.lh_120 {
    line-height: 120% !important;
}
.lh_160 {
    line-height: 160% !important;
}
.lh_normal {
    line-height: normal !important;
}
.transition_300 {
    transition: all 300ms ease-in-out;
}
@media (max-width: 991.98px) {
    :root {
        --fs-xl: 28px;
        --fs-2xl: 42px;
        --fs-md: 24px;
        --fs-base: 15px;
    }
}

@media (max-width: 767.98px) {
    :root {
        --fs-2xl: 35px;
        --fs-base: 14px;
        --fs-nav: 5vw;
    }
}
@media (max-width: 575.98px) {
    :root {
        --fs-sm: 16px;
        --fs-xl: 24px;
        --fs-2xl: 30px;
        --fs-md: 20px;
        --fs-nav: 5vw;
    }
}
