/* lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.cursor_pointer {
  cursor: pointer;
}

/* hero background image */
.hero_bg {
  background-image: url("../images/webp/hero-section-bg.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

/* nav bar css  */
.nav_logo {
  z-index: 12;
}

.nav_line {
  transition: all 300ms linear;
}

.navbar_link_gap {
  gap: 34px;
}

.nav_line::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  border-radius: 10px;
  background-color: var(--light-blue);
  left: 50%;
  bottom: -5px;
  display: inline-block;
  transition: all 400ms linear;
}

.nav_line:hover::after {
  width: 100%;
  left: 0;
}

nav ul li a:hover {
  color: var(--light-blue) !important;
}

.toggle_change {
  transition: all 500ms ease-in-out;
}

.toggle_change .bar1 {
  transform: translate(0, 14px) rotate(-45deg);
  transition: all 300ms ease-in-out;
}

.toggle_change .bar2 {
  transform: translateX(-20px);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.toggle_change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
  transition: all 300ms ease-in-out;
}

/* nav css end */
/* hero section css start*/
.side_blur_box_timer {
  background: #553af5;
  width: 88px;
  height: 18px;
  border-radius: 50%;
  filter: blur(20px);
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}

.blur_box {
  background: #553af5;
  width: 310px;
  height: 310px;
  filter: blur(140px);
}

.side_blur_box_one {
  top: 110px;
  left: -155px;
  opacity: 0.6;
}

.side_blur_box_two {
  width: 170px !important;
  top: -90%;
  opacity: 0.23;
  right: 0;
  filter: blur(80px) !important;
}

.main_heading_w {
  max-width: 1088px;
}

.main_heading_para_w {
  max-width: 367px;
}

.live_icon {
  top: 13px;
  right: 23px;
  background-color: #c20000;
  padding: 3px 10px;
  font-size: 20px !important;
}

.counter_para {
  padding-top: 43px;
  max-width: 519px;
  padding-bottom: 34px;
}

.form_box_hero {
  background: #8989890d;
  border: 2px solid #553af5;
  border-radius: 20px;
  max-width: 600px;
  backdrop-filter: blur(8px);
}

#signupForm {
  padding: 16px;
}

.hero_input {
  padding: 20.5px;
  margin-bottom: 20px;
  border-radius: 66px;
  outline: none;
  border: none;
}

.hero_input::placeholder {
  font-family: "Inter", sans-serif;
  line-height: normal;
  color: #191335;
  font-size: var(--fs-base);
  font-weight: 400;
}

.hero_bottom_stars {
  width: 35%;
  top: 18%;
}

/* input number arrow hidden */
.form_box_hero input::-webkit-outer-spin-button,
.form_box_hero input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.counter_box_timer {
  border-radius: 10px;
}

.counter_box_timer h2 {
  display: inline-block;
  width: 95px;
  height: 75px;
  line-height: normal;
  background: #ffffff08;
  border-radius: 10px;
  box-shadow: 0px 9.03px 33.86px 0px #00000069;
  box-shadow: 0px 0px 13.54px 0px #ffffff08 inset;
}

.counter_box {
  background: #8989890d;
  padding: 12px 10px;
  border: 1px solid #ffffff17;
  gap: 7px;
  border-radius: 20px;
}

/* hero section css end */

/* slider section start */

.slider_box {
  background: #8989890d;
  border-top: unset;
  border: 1px solid #ffffff17;
  border-radius: 10px;
}

.slider_box_blur {
  width: 80px;
  height: 80px;
  background: var(--light-blue);
  filter: blur(70px);
  top: 80px;
  left: 20px;
}

.slider_box_img {
  width: 101px;
  height: 101px;
  border: 1px solid var(--light-blue);
  border-radius: 100%;
  margin-top: 14px;
  margin-bottom: 9px;
}

/* slider section end */

/* IMPLEMENT ARBITRAGE IN YOUR INVESTMENTS! css start */
.Implement_heading {
  padding-top: 100px;
}

.Implement_paragraph {
  max-width: 806px !important;
  width: 100% !important;
  margin-bottom: 25px;
}

.side_blur_box_three {
  left: 50%;
  transform: translateX(-50%);
  filter: blur(150px) !important;
  opacity: 0.23 !important;
  top: 110px;
}

.implement_box {
  box-shadow: 0px 0px 20px 0px #00000033 !important;
  background: #ffffff4d;
  padding: 30px 13px;
  height: 100%;
  max-width: 450px;
  border-radius: 12px;
}

.implement_box:hover {
  transform: translateY(-6px);
}

.implement_box .implement_svg_box {
  background: #d8d8db60;
  height: 98px;
  width: 98px;
}

.implement_box:hover .implement_svg_box .svg-container {
  filter: drop-shadow(2px 2px 8px var(--light-blue));
}

.implement_svg_box {
  box-shadow: 0px 48.87px 183.25px 0px #00000069;
  padding: 19px 23px;
  border-radius: 10px;
  width: 96px;
  height: 88px;
  box-shadow: 0px 0px 73.3px 0px #ffffff08 inset;
}

.implement_box h2 {
  padding-top: 31px;
  padding-bottom: 29px;
}

.implement_box_blur {
  top: unset;
  bottom: -30px !important;
  left: 50%;
  width: 150px;
  height: 85px;
  filter: blur(90px);
  border-radius: 40%;
  transform: translateX(-50%);
}

.background_circle {
  top: -8%;
}

/* IMPLEMENT ARBITRAGE IN YOUR INVESTMENTS! css end */

/* How to benefit by investing in AI ETFs for high returns css start */
.understanding_slider .slick-track {
  padding-top: 26px !important;
  padding-bottom: 44px !important;
}

.max_w_1140 {
  max-width: 1140px;
}

.understanding_slider .slick-slide {
  padding: 10px !important;
}

.high_returns_heading {
  max-width: 672px;
}

.hight_return_bg_img {
  top: 44%;
  scale: 1 !important;
}

.side_blur_box_four {
  width: 100px;
  height: 100px;
  left: unset;
  right: 0;
  filter: blur(80px) !important;
}

/* How to benefit by investing in AI ETFs for high returns css end */

/* Advisors css start */

.advisors_slider_box {
  box-shadow: 0px 48.87px 183.25px 0px #00000069;
  background: #ffffff08;
  border-radius: 12px;
  box-shadow: 0px 0px 73.3px 0px #ffffff08 inset;
}

.advisors_slider_box div {
  padding: 24px;
}

.advisors_slider_side_p {
  padding: 0px 20px;
}

.jeff_paragraph {
  max-width: 262px;
}

.keith_paragraph {
  max-width: 303px;
}

.left_arrow:hover path {
  fill: #553af5;
}

.right_arrow:hover path {
  fill: #553af5;
}

.left_arrow {
  left: -55px;
  top: 50%;
  transform: translateY(-50%);
}

.right_arrow {
  right: -55px;
  top: 50%;
  transform: translateY(-50%);
}

.advisors_slider .slick-track {
  display: flex !important;
}

.advisors_slider .slick-slide {
  height: inherit !important;
  display: flex !important;
}

.advisors_slider .slick-slide > div {
  display: flex;
}

/* top 5 ai section start here */
.top_ai_blue_box {
  background-color: var(--light-blue);
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.ai_row_gap {
  gap: 58px;
}

/* STATISTICS FOR TODAY start css start */
.average_paragraph {
  max-width: 278px;
}

.today_section_row_w {
  max-width: 861px;
}

.today_bg {
  top: 16%;
  left: 0;
}

.today_side_vector {
  width: 285px;
  height: 437px;
  top: 24%;
}

.today_left_side_victor {
  background: linear-gradient(
    88deg,
    #0c0b18 23.37%,
    rgba(10, 13, 35, 0) 98.36%
  );
  left: 0;
}

.today_right_side_victor {
  background: linear-gradient(
    268deg,
    #0c0b18 23.37%,
    rgba(10, 13, 35, 0) 98.36%
  );
  right: 0;
}

.today_heading {
  padding-top: 108px;
  padding-bottom: 107px;
}

/* STATISTICS FOR TODAY start css end */

/* profit css start */
.profit_heading {
  max-width: 805px;
  padding-top: 100px;
  padding-bottom: 57px;
}

.hand_img_profit {
  border-radius: 20px;
  object-fit: contain;
}

/* profit css end */

/* partner_slider css start */
.partner_slider {
  padding-top: 40px;
  padding-bottom: 40px;
}

.partner_slider .slick-track {
  display: flex !important;
  align-items: center !important;
}

/* partner_slider css end */
/* footer css start*/
.footer_paragraph {
  max-width: 373px;
}

.footer_social_logo {
  width: 41px;
  height: 41px;
  border-radius: 100%;
  transition: all 300ms linear;
}

.footer_social_logo:hover {
  transform: translateY(-5px);
}

.conditions_border {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.understanding_section .slick-track {
  display: flex !important;
}

.understanding_section .slick-slide {
  height: inherit !important;
  display: flex !important;
}

.ai_row_gap div img {
  box-shadow: 0px 6.71px 25.15px 0px #ffffff69,
    0px 0px 10.06px 0px #ffffff08 inset;
  border-radius: 12px;
}

/* .top_ai_section{
} */
.top5ai_top_stars {
  width: 50%;
  top: 3%;
}
.hero_left_bottom_stars {
  width: 50%;
  bottom: -50% !important;
}
.hero_right_bottom_stars {
  width: 50%;
  bottom: -50% !important;
}

.top_ai_section {
  padding-top: 400px;
}

.top_ai_section p {
  font-size: 14px !important;
}

.top5ai_semicircle_image {
  left: 50%;
  top: 10%;
  width: 120%;
  transform: translateX(-50%);
}
.footer_semicircle_image {
  left: 50%;
  top: 10%;
  width: 120%;
  transform: translateX(-50%);
}
.hero_semicircle_image {
  left: 50%;
  top: 150%;
  width: 120%;
  transform: translateX(-50%);
}

/* DEFINE RESEARCH CARD DATA CSS DATA */
.z_5 {
  z-index: 5 !important;
}

.research_data_img {
  z-index: 4;
  margin-bottom: -180px;
}

.overflow_x_hidden {
  overflow-x: hidden;
}

.register_paragraph {
  padding-bottom: 48px;
}

/* DEFINE FOOTER CSS CODE */
.footer_section {
  padding: 262px 0px 69px 0px;
}

.form_box_hero {
  padding: 30px 10px;
}

/* DEFINE ADVISORS SLIDER CSS CODE */
.advisors_slider_box {
  cursor: pointer;
}

.advisors_text_hover {
  background: #553af5;
  transform: translateY(101%);
  transition: all 0.4s ease-in-out;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  position: absolute;
  z-index: 5;
}

.advisor_new_img {
  max-height: 270px;
  object-fit: cover;
}

.advisors_slider_box:hover .advisors_text_hover {
  transform: translate(0%);
}

#advisors .slick-dots li.slick-active button:before {
  color: #553af5 !important;
}

#advisors .slick-dots li.slick-active button:before {
  background-color: #553af5 !important;
  border: 1px solid transparent !important;
  opacity: 100 !important;
}

#advisors .slick-dots li button:before {
  opacity: 100 !important;
  width: 12.3px !important;
  height: 12.3px !important;
  content: "" !important;
  border: 1px solid #553af5 !important;
  border-radius: 50% !important;
}

#advisors .slick-dots {
  bottom: -60px !important;
}

/* DEFINE TODAY SLIDER CODE */

#today .slick-dots li.slick-active button:before {
  color: #553af5 !important;
}

#today .slick-dots li.slick-active button:before {
  background-color: #553af5 !important;
  border: 1px solid transparent !important;
  opacity: 100 !important;
}

#today .slick-dots li button:before {
  opacity: 100 !important;
  width: 12.3px !important;
  height: 12.3px !important;
  content: "" !important;
  border: 1px solid #553af5 !important;
  border-radius: 50% !important;
}

#today .slick-dots {
  bottom: -48px !important;
}

#today .slick-dots li button {
  pad: 0px !important;
  width: 12.3px !important;
  height: 12.3px !important;
}

.slick-dots li {
  width: 12.3px !important;
  height: 12.3px !important;
}

/* animaction */
/* animation  */
.animation_circle {
  top: 8% !important;
  animation: rotate 12s linear infinite;
}
.footer_animation_circle {
  top: 8% !important;
  animation: rotate 12s linear infinite;
}
.hero_animation_circle {
  top: 110% !important;
  animation: rotate 12s linear infinite;
}
.max_w_1920{
  max-width: 1920px;
}

@keyframes rotate {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

/* media screen 1199.98px */
@media (min-width: 1500px) {
  .hight_return_bg_img {
    top: 40%;
    scale: 1 !important;
  }
}

@media (min-width: 1200px) {
  .ai_row_gap {
    gap: 150px !important;
  }
  .hero_left_bottom_stars {
    bottom: 2% !important;
  }
  .hero_right_bottom_stars {
    bottom: 2% !important;
  }

  .advisors_heading {
    padding-top: 110px;
  }

  .main_heading_para_w {
    width: 367px;
  }

  .implement_box {
    max-width: 351px;
  }

  .register_paragraph {
    padding-bottom: 96px !important;
  }

  .hand_img_profit {
    transform: translateX(20px);
  }

  .footer_top_spacing {
    margin-top: 100px;
  }
}

@media (min-width: 576px) {
  #signupForm {
    padding: 21px 21px 20px 21px;
  }
  .hero_left_bottom_stars {
    bottom: 22% !important;
  }
  .hero_right_bottom_stars {
    bottom: 22% !important;
  }
  .animation_circle {
    top: 5% !important;
  }
  .footer_animation_circle {
    top: 5% !important;
  }
  .hero_animation_circle {
    top: 108% !important;
  }
  .top5ai_top_stars {
    top: 4%;
  }
  .hero_left_bottom_stars {
    bottom: -92% !important;
  }
  .hero_right_bottom_stars {
    bottom: -92% !important;
  }

  .research_data_img {
    margin-bottom: -100px;
  }

  .top_ai_blue_box {
    background-color: var(--light-blue);
    height: 60px;
    width: 60px;
    border-radius: 10px;
  }

  .advisor_new_img {
    max-height: 370px;
  }

  .top_ai_section p {
    font-size: var(--fs-base) !important;
  }
}

@media (min-width: 768px) {
  .width_md_full {
    width: 100%;
  }

  .animation_circle {
    top: 8% !important;
  }
  .footer_animation_circle {
    top: 6% !important;
  }
  .hero_animation_circle {
    top: 120% !important;
  }

  .ai_row_gap {
    gap: 70px;
  }

  .top_ai_section {
    padding-top: 400px;
  }

  .top_ai_blue_box {
    height: 72px;
    width: 72px;
  }

  .advisor_new_img {
    max-height: 273px;
  }
}

@media (min-width: 992px) {
  .register_paragraph {
    padding-bottom: 32px;
  }
  .understanding_slider .slick-slide {
    padding-left: 21px !important;
    padding-right: 21px !important;
  }
  .ai_row_gap {
    gap: 120px;
  }

  .top5ai_top_stars {
    width: 30%;
    top: 8%;
  }
  .hero_left_bottom_stars {
    width: 30%;
    bottom: 8%;
  }
  .hero_right_bottom_stars {
    width: 30%;
    bottom: 8%;
  }

  .top_ai_blue_box {
    height: 80px !important;
    width: 86px !important;
  }

  .advisor_new_img {
    max-height: 290px !important;
  }
  .hero_left_bottom_stars {
    bottom: -132% !important;
  }
  .hero_right_bottom_stars {
    bottom: -132% !important;
  }
}

@media (max-width: 1280px) {
  .left_arrow {
    left: 45%;
    top: unset;
    bottom: -25%;
  }

  .right_arrow {
    right: 45%;
    top: unset;
    bottom: -25%;
  }
}

@media (max-width: 1199.98px) {
  .counter_box {
    gap: 6px;
  }

  .advisors_slider_side_p {
    padding: 0 10px;
  }

  .counter_box_timer h2 {
    width: 95px !important;
    height: 72px !important;
  }

  .implement_box {
    padding: 20px;
  }

  .Implement_heading {
    padding-top: 150px;
  }

  .partner_slider {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .profit_heading {
    padding-top: 100px;
  }

  .today_heading {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .left_arrow {
    left: 50%;
    transform: translateX(-70%);
  }

  .right_arrow {
    right: 50%;
    transform: translateX(-70%);
  }

  .partner_slider {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .today_bg {
    top: 10%;
  }
}

/* media screen 991.98 */
@media (max-width: 991.98px) {
  .live_icon {
    right: 13px;
  }

  .common_btn {
    padding: 15px 32px;
  }

  .main_heading_para_w {
    max-width: unset;
  }

  .main_heading_w {
    max-width: unset;
  }

  .hero_input {
    padding: 15px;
  }

  .side_blur_box_one {
    width: 250px;
    height: 250px;
  }

  .counter_box {
    margin-bottom: 36px;
  }

  .Implement_paragraph {
    margin-bottom: 50px;
  }

  .Implement_heading {
    padding-top: 120px;
  }

  .hight_return_bg_img {
    top: 54%;
    scale: 3;
  }

  .footer_section {
    padding: 180px 0px 48px 0px;
  }

  #partner_slider .slick-slide img {
    max-width: 200px;
  }

  #partner_slider .slick-slide {
    max-width: 250px;
  }

  .today_bg {
    top: 18%;
  }

  .top5ai_semicircle_image {
    top: 12%;
  }
  .footer_semicircle_image {
    top: 12%;
  }
  .hero_semicircle_image {
    top: 144%;
  }

  .advisors_text_hover p {
    font-size: 14px !important;
  }

  .footer_para {
    font-size: 14px !important;
  }

  .research_heading {
    font-size: 32px !important;
  }
}

/* media screen  765.95px*/
@media (max-width: 767.98px) {
  .mobile_navbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    background-color: var(--dark-blue);
    transition: all 500ms ease-in-out;
    z-index: 10;
  }

  .top5ai_semicircle_image {
    top: 6.5%;
  }
  .footer_semicircle_image {
    top: 6.5%;
  }
  .hero_semicircle_image {
    top: 122%;
  }

  label[for="navMenu"] {
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    z-index: 11;
  }

  label[for="navMenu"] > span {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
  }

  .show {
    left: 0;
  }

  .overflow_hidden {
    overflow: hidden;
  }

  .common_btn {
    padding: 14px 30px;
  }

  .hero_input {
    padding: 14px 18px;
  }

  .counter_para {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .live_icon {
    font-size: 18px !important;
  }

  .counter_box {
    padding: 8px 8px !important;
    border-radius: 15px;
  }

  .counter_box_timer h2 {
    width: 100px !important;
    height: 65px !important;
    padding: 15px;
  }

  .counter_box {
    gap: 5px;
  }

  .implement_box h2 {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .Implement_paragraph {
    margin-bottom: 45px;
  }

  .Implement_heading {
    padding-top: 70px;
  }

  .partner_slider {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .profit_heading {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .today_side_vector {
    width: 80px;
    height: 290px;
  }

  .today_heading {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .advisors_heading {
    padding-top: 70px;
  }

  .today_bg {
    top: 19%;
  }

  .research_heading {
    font-size: var(--fs-2xl) !important;
  }
}

/* media screen  575.98px*/
@media (max-width: 1023.98px) {
  .understanding_slider .slick-dots li.slick-active button:before {
    background-color: #553af5 !important;
    border: 1px solid transparent !important;
    opacity: 100 !important;
  }

  .understanding_slider .slick-dots li button:before {
    opacity: 100 !important;
    width: 12.3px !important;
    height: 12.3px !important;
    content: "" !important;
    border: 1px solid #553af5 !important;
    border-radius: 50% !important;
  }
}

@media (max-width: 575.98px) {
  .footer_section {
    padding: 220px 0px 48px 0px;
  }

  .fs_20 {
    font-size: 20px !important;
  }

  .sign_btn {
    width: 100%;
  }

  .Implement_paragraph {
    margin-bottom: 40px;
  }

  label[for="navMenu"] {
    width: 35px;
    height: 25px;
  }

  .common_btn {
    padding: 22px 20px !important;
  }

  .toggle_change .bar1 {
    transform: translate(0, 12px) rotate(-45deg);
  }

  .toggle_change .bar3 {
    transform: translate(0, -9px) rotate(45deg);
  }

  .navbar_link {
    gap: 24px;
  }

  .hero_input {
    padding: 12px 18px;
  }

  .hero_input {
    margin-bottom: 10px;
  }

  .live_icon {
    font-size: 14px !important;
  }

  .counter_box {
    padding: 8px !important;
    border-radius: 15px;
  }

  .counter_box_timer h2 {
    width: 68px !important;
    height: 45px !important;
    font-size: 18px !important;
    padding: 10px 0px !important;
  }

  .fs_18 {
    font-size: 18px !important;
  }

  .counter_box {
    gap: 3px;
  }

  .implement_box h2 {
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .implement_box {
    padding: 35px 25px;
  }

  .Implement_heading {
    padding-top: 48px;
  }

  .background_circle {
    top: 1%;
  }

  .hight_return_bg_img {
    top: 40%;
  }

  .partner_slider {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .profit_heading {
    padding-top: 48px;
    padding-bottom: 32px;
  }

  .today_side_vector {
    width: 40px;
    height: 220px;
    top: 50%;
  }

  .today_bg {
    top: 21%;
  }

  .today_heading {
    padding-top: 48px;
    padding-bottom: 32px;
  }

  .advisors_heading {
    padding-top: 48px;
  }

  .form_box_hero {
    padding: 16px;
  }

  .today_shade {
    width: 150px;
    height: 150px;
    bottom: -30px;
    right: -40px;
  }

  .footer_semicircle_image {
    top: 9%;
  }
  .top5ai_semicircle_image {
    top: 9%;
  }
}

@media (max-width: 374.98px) {
  .live_icon {
    font-size: 12px !important;
  }

  .counter_box {
    padding: 6px !important;
    border-radius: 11px;
  }

  .counter_box_timer h2 {
    width: 60px !important;
    height: 45px !important;
    font-size: 18px !important;
    border-radius: 8px;
    padding: 9px;
  }

  .counter_box {
    gap: 2px;
  }
}
