* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}
/* body */
body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    background-color: var(--dark-blue) !important;
}

/* custom container */
.custom_container {
    max-width: 1164px !important;
    padding: 0 12px !important;
}

/* hero background image */
.hero_bg {
    background-image: url("../image/webp/hero-section-bg.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

/* common btn  */
.common_btn {
    border: 1px solid #ffffff;
    padding: 22px 34px;
    border-radius: 132px;
    background: var(--light-blue);
    box-shadow: 0px 4px 53.2px 0px #553af594;
    transition: all 300ms ease-in-out;
}

.common_btn:hover {
    border: 1px solid var(--light-blue);
    color: var(--light-blue) !important;
    background-color: white;
    box-shadow: 0px 0px 20px 0px white;
}

/* nav bar css  */
.nav_line {
    transition: all 200ms linear;
}
.nababar {
    gap: 34px;
}
.nav_line::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    border-radius: 10px;
    background-color: var(--light-blue);
    left: 50%;
    bottom: -5px;
    display: inline-block;
    transition: all 400ms linear;
}
.nav_line:hover::after {
    width: 100%;
    left: 0;
}
nav ul li a:hover {
    color: var(--light-blue) !important;
}

.change {
    transition: all 500ms ease-in-out;
}

.change .bar1 {
    transform: translate(0, 14px) rotate(-45deg);
    transition: all 300ms ease-in-out;
}

.change .bar2 {
    transform: translateX(-20px);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    transition: all 300ms ease-in-out;
}

/* nav css end */
/* hero section css start*/
.blur_box {
    background: #553af5;
    width: 310px;
    height: 310px;
    filter: blur(140px);
}
.side_blur_box_one {
    top: 110px;
    left: -155px;
    opacity: 0.6;
}
.side_blur_box_two {
    width: 170px !important;
    top: -90%;
    opacity: 0.23;
    right: 0;
}
.main_heading_w {
    max-width: 688px;
}
.main_heading_para_w {
    max-width: 367px;
}
.live_icon {
    top: 13px;
    right: 14px;
    background-color: #c20000;
    padding: 6px 8px;
    font-size: 20px !important;
}
.counter_para {
    padding-top: 43px;
    max-width: 519px;
    padding-bottom: 34px;
}
.form_box_hero {
    background: #8989890d;
    border: 1px solid #ffffff17;
    padding: 21px 21px 36px 21px;
    border-radius: 20px;
    max-width: 600px;
    backdrop-filter: blur(8px);
}
.hero_input {
    padding: 23px 18px;
    margin-bottom: 17px;
    border-radius: 66px;
    outline: none;
    border: none;
}
.hero_input::placeholder {
    color: #191335;
    font-size: var(--fs-base);
    font-weight: 400;
}
/* input number arrow hidden */
.form_box_hero input::-webkit-outer-spin-button,
.form_box_hero input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.counter_box {
    background: #8989890d;
    padding: 12px 10px;
    border: 1px solid #ffffff17;
    max-width: 554px;
    border-radius: 20px;
}
.flip-clock-dot {
    display: block;
    background: #553af5 !important;
    border-radius: 1px !important;
    width: 6px !important;
    height: 6px !important;
    left: 6px !important;
}
.flip-clock-wrapper ul li a div div.inn {
    font-size: var(--fs-xl) !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 13.54px 0px #ffffff08 inset !important;
    text-shadow: unset !important;
    background: #1b1a21 !important;
    background-image: url("../image/svg/counter-bg.svg") !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.flip-clock-wrapper ul {
    width: 59px !important;
    height: 75px !important;
    margin: 0 !important;
    background-color: transparent !important;
}
.flip-clock-wrapper {
    margin: 0 !important;
}
.flip-clock-divider {
    height: 75px !important;
    /* width: 12px !important; */
}
.flip-clock-wrapper ul li a div .shadow {
    position: unset !important;
}
.flip-clock-dot.top {
    top: 25px !important;
    transform: rotate(45deg) !important;
}
.flip-clock-dot.bottom {
    top: 50px !important;
    transform: rotate(45deg) !important;
}
.flip-clock-divider .flip-clock-label {
    display: none !important;
}
.flip-clock-wrapper .flip {
    box-shadow: unset !important;
}

/* hero section css end */

/* slider section start */

.slider_box {
    background: #8989890d;
    border-top: unset;
    border-bottom: 1px solid #ffffff17;
    border-left: 1px solid #ffffff17;
    border-right: 1px solid #ffffff17;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.slider_box_blur {
    width: 80px;
    height: 80px;
    background: var(--light-blue);
    filter: blur(70px);
    top: 80px;
    left: 20px;
}
.slider_box_img {
    width: 101px;
    height: 101px;
    border: 1px solid var(--light-blue);
    border-radius: 100%;
    margin-top: 14px;
    margin-bottom: 9px;
}
/* slider section end */
@media (min-width:1199.98px) {
    .main_heading_para_w {
        width: 367px;
    }
}
/* media screen 991.98 */
@media (max-width: 991.98px) {
    .common_btn {
        padding: 18px 32px;
    }
    .main_heading_para_w {
        max-width: unset;
    }
    .main_heading_w {
        max-width: unset;
    }
    .hero_input {
        padding: 18px;
    }
    .side_blur_box_one {
        width: 250px;
        height: 250px;
    }
    .counter_box {
        margin-bottom: 36px;
    }
}
/* media screen  765.95px*/
@media (max-width: 767.98px) {
    .sm-navbar {
        position: absolute;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background-color: var(--dark-blue);
        transition: all 500ms ease-in-out;
        z-index: 1;
    }

    label[for="navMenu"] {
        width: 40px;
        height: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        justify-content: space-between;
        z-index: 3;
    }

    label[for="navMenu"] > span {
        width: 100%;
        height: 4px;
        background-color: white;
        border-radius: 10px;
    }

    .show {
        left: 0;
    }

    .overflow_hidden {
        overflow: hidden;
    }
    .common_btn {
        padding: 14px 30px;
    }
    .hero_input {
        padding: 14px 18px;
    }
    .counter_para {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .live_icon {
        font-size: 18px !important;
    }
}
/* media screen  575.98px*/
@media (max-width: 576.98px) {
    label[for="navMenu"] {
        width: 35px;
        height: 25px;
    }
    .common_btn {
        padding: 11px 20px;
    }
    .change .bar1 {
        transform: translate(0, 12px) rotate(-45deg);
    }
    .change .bar3 {
        transform: translate(0, -9px) rotate(45deg);
    }
    .nababar {
        gap: 24px;
    }
    .hero_input {
        padding: 12px 18px;
    }
    .flip-clock-wrapper ul {
        width: 33px !important;
        height: 60px !important;
    }
    .flip-clock-wrapper ul li a div.up {
        top: 10px !important;
    }
    .counter_box {
        padding: 0 12px;
    }
    .flip-clock-wrapper ul li a div.down {
        bottom: 5px !important;
    }
    .flip-clock-dot {
        width: 5px !important;
        height: 5px !important;
        left: 7px !important;
    }
    .flip-clock-divider {
        height: 65px !important;
    }
    .flip-clock-dot.bottom {
        top: 43px !important;
    }
    .flip-clock-wrapper ul li a div div.inn {
        height: 212% !important;
    }
    .live_icon {
        font-size: 14px !important;
    }
}
@media (max-width: 374.98px) {
    .flip-clock-wrapper ul {
        width: 33px !important;
        height: 60px !important;
    }
}
